In [1]:
import numpy as np
import pandas as pd
import json
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("book_database_data.csv")

In [3]:
df.head()

,Unnamed: 0,book_id,book_title,author,publication_date,summary
0,0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca..."
1,1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,3,1756,An Enquiry Concerning Human Understanding,David Hume,NaN,The argument of the Enquiry proceeds by a ser...
4,4,2080,A Fire Upon the Deep,Vernor Vinge,NaN,The novel posits that space around the Milky ...

In [4]:
df=df.drop(['Unnamed: 0'],axis=1)

In [5]:
df.head()

,book_id,book_title,author,publication_date,summary
0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,David Hume,NaN,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,Vernor Vinge,NaN,The novel posits that space around the Milky ...

In [6]:
df['publication_date']=df['publication_date'].astype('str')

In [7]:
type(df.iloc[3,3])

str

In [8]:
df.iloc[3,3]

'nan'

In [9]:
df.isnull().sum()

book_id                0
book_title             0
author              2382
publication_date       0
summary                0
dtype: int64

In [10]:
import re
import random


regex=re.compile(r"\d\d\d\d")
def ret_year(a):
    if a=="nan":
        return int(random.randint(1800,2000))
    else:
        return int(regex.search(a).group())

In [11]:
df['publication_date']=df['publication_date'].apply(ret_year)

In [12]:
df.head()

,book_id,book_title,author,publication_date,summary
0,620,Animal Farm,George Orwell,1945,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,David Hume,1979,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,Vernor Vinge,1859,The novel posits that space around the Milky ...

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           16559 non-null  int64
 1   book_title        16559 non-null  object
 2   author            14177 non-null  object
 3   publication_date  16559 non-null  int64
 4   summary           16559 non-null  object
dtypes: int64(2), object(3)
memory usage: 647.0+ KB

In [14]:
li=[]
for i in range(df.shape[0]):
    li.append(random.randint(1,9))

In [15]:
df['copies']=li

In [16]:
df.head()

,book_id,book_title,author,publication_date,summary,copies
0,620,Animal Farm,George Orwell,1945,"Old Major, the old boar on the Manor Farm, ca...",5
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan...",7
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...,2
3,1756,An Enquiry Concerning Human Understanding,David Hume,1979,The argument of the Enquiry proceeds by a ser...,1
4,2080,A Fire Upon the Deep,Vernor Vinge,1859,The novel posits that space around the Milky ...,4

In [17]:
df.isnull().sum()

book_id                0
book_title             0
author              2382
publication_date       0
summary                0
copies                 0
dtype: int64

In [18]:
# df.to_csv("database_values.csv")

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
si=SimpleImputer(strategy='most_frequent')

In [21]:
df['author']=si.fit_transform(df.iloc[:,2:3])

In [22]:
df.isnull().sum()

book_id             0
book_title          0
author              0
publication_date    0
summary             0
copies              0
dtype: int64

In [23]:
si.statistics_

array(['Agatha Christie'], dtype=object)

In [24]:
res=pd.DataFrame()

In [25]:
res['book_id']=df['book_id']

In [26]:
res['title']=df['book_title']
res['pub_year']=df['publication_date']
res['author']=df['author']
res['copies']=df['copies']
res['summary']=df['summary']

In [27]:
res.head()

,book_id,title,pub_year,author,copies,summary
0,620,Animal Farm,1945,George Orwell,5,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,1962,Anthony Burgess,7,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,1947,Albert Camus,2,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,1979,David Hume,1,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,1859,Vernor Vinge,4,The novel posits that space around the Milky ...

In [28]:
res.shape

(16559, 6)

In [29]:
res.to_csv('books_db.csv')

In [30]:
a1=res.iloc[0:1000]
a1.to_csv("a1.csv")

In [31]:
a1.head()

,book_id,title,pub_year,author,copies,summary
0,620,Animal Farm,1945,George Orwell,5,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,1962,Anthony Burgess,7,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,1947,Albert Camus,2,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,1979,David Hume,1,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,1859,Vernor Vinge,4,The novel posits that space around the Milky ...

In [32]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   book_id   16559 non-null  int64
 1   title     16559 non-null  object
 2   pub_year  16559 non-null  int64
 3   author    16559 non-null  object
 4   copies    16559 non-null  int64
 5   summary   16559 non-null  object
dtypes: int64(3), object(3)
memory usage: 776.3+ KB

In [33]:
!python -m pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\ratha\appdata\roaming\python\python39\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\ratha\appdata\roaming\python\python39\site-packages (from mysql-connector-python) (3.20.3)

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="LibraryManager"
)


print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002270128A3A0>

In [35]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('csv_db 7',)
('information_schema',)
('librarymanager',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [36]:
sql = "INSERT INTO book(book_id, title,pub_year,author,copies,summary) VALUES (%s, %s, %s, %s, %s,%s)"

val=[]
for i in res.values:
    val.append((i[0],i[1],i[2],i[3],i[4],i[5]))
val[0:2]

[(620,
  'Animal Farm',
  1945,
  'George Orwell',
  5,
  ' Old Major, the old boar on the Manor Farm, calls the animals on the farm for a meeting, where he compares the humans to parasites and teaches the animals a revolutionary song, \'Beasts of England\'. When Major dies, two young pigs, Snowball and Napoleon, assume command and turn his dream into a philosophy. The animals revolt and drive the drunken and irresponsible Mr Jones from the farm, renaming it "Animal Farm". They adopt Seven Commandments of Animal-ism, the most important of which is, "All animals are equal". Snowball attempts to teach the animals reading and writing; food is plentiful, and the farm runs smoothly. The pigs elevate themselves to positions of leadership and set aside special food items, ostensibly for their personal health. Napoleon takes the pups from the farm dogs and trains them privately. Napoleon and Snowball struggle for leadership. When Snowball announces his plans to build a windmill, Napoleon has his dogs chase Snowball away and declares himself leader. Napoleon enacts changes to the governance structure of the farm, replacing meetings with a committee of pigs, who will run the farm. Using a young pig named Squealer as a "mouthpiece", Napoleon claims credit for the windmill idea. The animals work harder with the promise of easier lives with the windmill. After a violent storm, the animals find the windmill annihilated. Napoleon and Squealer convince the animals that Snowball destroyed it, although the scorn of the neighbouring farmers suggests that its walls were too thin. Once Snowball becomes a scapegoat, Napoleon begins purging the farm with his dogs, killing animals he accuses of consorting with his old rival. He and the pigs abuse their power, imposing more control while reserving privileges for themselves and rewriting history, villainising Snowball and glorifying Napoleon. Squealer justifies every statement Napoleon makes, even the pigs\' alteration of the Seven Commandments of Animalism to benefit themselves. \'Beasts of England\' is replaced by an anthem glorifying Napoleon, who appears to be adopting the lifestyle of a man. The animals remain convinced that they are better off than they were when under Mr Jones. Squealer abuses the animals\' poor memories and invents numbers to show their improvement. Mr Frederick, one of the neighbouring farmers, attacks the farm, using blasting powder to blow up the restored windmill. Though the animals win the battle, they do so at great cost, as many, including Boxer the workhorse, are wounded. Despite his injuries, Boxer continues working harder and harder, until he collapses while working on the windmill. Napoleon sends for a van to take Boxer to the veterinary surgeon\'s, explaining that better care can be given there. Benjamin, the cynical donkey, who "could read as well as any pig", notices that the van belongs to a knacker, and attempts to mount a rescue; but the animals\' attempts are futile. Squealer reports that the van was purchased by the hospital and the writing from the previous owner had not been repainted. He recounts a tale of Boxer\'s death in the hands of the best medical care. Years pass, and the pigs learn to walk upright, carry whips and wear clothes. The Seven Commandments are reduced to a single phrase: "All animals are equal, but some animals are more equal than others". Napoleon holds a dinner party for the pigs and the humans of the area, who congratulate Napoleon on having the hardest-working but least fed animals in the country. Napoleon announces an alliance with the humans, against the labouring classes of both "worlds". He abolishes practices and traditions related to the Revolution, and changes the name of the farm to "The Manor Farm". The animals, overhearing the conversation, notice that the faces of the pigs have begun changing. During a poker match, an argument breaks out between Napoleon and Mr Pilkington, and the animals realise that the faces of the pigs look like the faces of humans, and no one can tell the difference between them. The pigs Snowball, Napoleon, and Squealer adapt Old Major\'s ideas into an actual philosophy, which they formally name Animalism. Soon after, Napoleon and Squealer indulge in the vices of humans (drinking alcohol, sleeping in beds, trading). Squealer is employed to alter the Seven Commandments to account for this humanisation, an allusion to the Soviet government\'s revising of history in order to exercise control of the people\'s beliefs about themselves and their society. The original commandments are: # Whatever goes upon two legs is an enemy. # Whatever goes upon four legs, or has wings, is a friend. # No animal shall wear clothes. # No animal shall sleep in a bed. # No animal shall drink alcohol. # No animal shall kill any other animal. # All animals are equal. Later, Napoleon and his pigs secretly revise some commandments to clear them of accusations of law-breaking (such as "No animal shall drink alcohol" having "to excess" appended to it and "No animal shall sleep in a bed" with "with sheets" added to it). The changed commandments are as follows, with the changes bolded: * 4 No animal shall sleep in a bed with sheets. * 5 No animal shall drink alcohol to excess. * 6 No animal shall kill any other animal without cause. Eventually these are replaced with the maxims, "All animals are equal, but some animals are more equal than others", and "Four legs good, two legs better!" as the pigs become more human. This is an ironic twist to the original purpose of the Seven Commandments, which were supposed to keep order within Animal Farm by uniting the animals together against the humans, and prevent animals from following the humans\' evil habits. Through the revision of the commandments, Orwell demonstrates how simply political dogma can be turned into malleable propaganda.'),
 (843,
  'A Clockwork Orange',
  1962,
  'Anthony Burgess',
  7,
  ' Alex, a teenager living in near-future England, leads his gang on nightly orgies of opportunistic, random "ultra-violence." Alex\'s friends ("droogs" in the novel\'s Anglo-Russian slang, Nadsat) are: Dim, a slow-witted bruiser who is the gang\'s muscle; Georgie, an ambitious second-in-command; and Pete, who mostly plays along as the droogs indulge their taste for ultra-violence. Characterized as a sociopath and a hardened juvenile delinquent, Alex is also intelligent and quick-witted, with sophisticated taste in music, being particularly fond of Beethoven, or "Lovely Ludwig Van." The novel begins with the droogs sitting in their favorite hangout (the Korova Milkbar), drinking milk-drug cocktails, called "milk-plus", to hype themselves for the night\'s mayhem. They assault a scholar walking home from the public library, rob a store leaving the owner and his wife bloodied and unconscious, stomp a panhandling derelict, then scuffle with a rival gang. Joyriding through the countryside in a stolen car, they break into an isolated cottage and maul the young couple living there, beating the husband and raping his wife. In a metafictional touch, the husband is a writer working on a manuscript called "A Clockwork Orange," and Alex contemptuously reads out a paragraph that states the novel\'s main theme before shredding the manuscript. Back at the milk bar, Alex punishes Dim for some crude behaviour, and strains within the gang become apparent. At home in his dreary flat, Alex plays classical music at top volume while fantasizing of even more orgiastic violence. Alex skips school the next day. Following an unexpected visit from P.R. Deltoid, his "post-corrective advisor," Alex meets a pair of ten-year-old girls and takes them back to his parents\' flat, where he administers hard drugs and then rapes them. That evening, Alex finds his droogs in a mutinous mood. Georgie challenges Alex for leadership of the gang, demanding that they pull a "man-sized" job. Alex quells the rebellion by slashing Dim\'s hand and fighting with Georgie, then in a show of generosity takes them to a bar, where Alex insists on following through on Georgie\'s idea to burgle the home of a wealthy old woman. The break-in starts as farce and ends in tragic pathos, as Alex\'s attack kills the elderly woman. His escape is blocked by Dim, who attacks Alex, leaving him incapacitated on the front step as the police arrive. Sentenced to prison for murder, Alex gets a job at the Wing chapel playing religious music on the stereo before and after services as well as during the singing of hymns. The prison chaplain mistakes Alex\'s Bible studies for stirrings of faith (Alex is actually reading Scripture for the violent passages). After Alex\'s fellow cellmates blame him for beating a troublesome cellmate to death, he agrees to undergo an experimental behaviour-modification treatment called the Ludovico Technique. The technique is a form of aversion therapy in which Alex receives an injection that makes him feel sick while watching graphically violent films, eventually conditioning him to suffer crippling bouts of nausea at the mere thought of violence. As an unintended consequence, the soundtrack to one of the films—Beethoven\'s Fifth Symphony—renders Alex unable to listen to his beloved classical music. The effectiveness of the technique is demonstrated to a group of VIPs, who watch as Alex collapses before a walloping bully, and abases himself before a scantily-clad young woman whose presence has aroused his predatory sexual inclinations. Though the prison chaplain accuses the state of stripping Alex of free will, the government officials on the scene are pleased with the results and Alex is released into society. Since his parents are now renting his room to a lodger, Alex wanders the streets and enters a public library where he hopes to learn a painless way to commit suicide. There, he accidentally encounters the old scholar he assaulted earlier in the book, who, keen on revenge, beats Alex with the help of his friends. The policemen who come to Alex\'s rescue turn out to be none other than Dim and former gang rival Billyboy. The two policemen take Alex outside of town and beat him up. Dazed and bloodied, Alex collapses at the door of an isolated cottage, realizing too late that it is the house he and his droogs invaded in the first half of the story. Because the gang wore masks during the assault, the writer does not recognize Alex. The writer, whose name is revealed as F. Alexander, shelters Alex and questions him about the conditioning. During this sequence, it is revealed that Mrs. Alexander died from the injuries inflicted during the gang-rape, and her husband has decided to continue living "where her fragrant memory persists" despite the horrid memories. Alexander, a critic of the government, hopes to use Alex as a symbol of state brutality and thereby prevent the incumbent government from being re-elected. Eventually, he begins to realize Alex\'s role in the happenings of the night two years ago. One of Alexander\'s radical associates manages to extract a confession from Alex after removing him from F. Alexander\'s home and then locks him in a flatblock near his former home. Alex is then subjected to a relentless barrage of classical music, prompting him to attempt suicide by leaping from a high window. Alex wakes up in hospital, where he is courted by government officials anxious to counter the bad publicity created by his suicide attempt. With Alexander safely packed off to a mental institution, Alex is offered a well-paying job if he agrees to side with the government. As photographers snap pictures, Alex daydreams of orgiastic violence and realizes the Ludovico conditioning has been reversed: "I was cured all right." In the final chapter, Alex has a new trio of droogs, but he finds he is beginning to outgrow his taste for violence. A chance encounter with Pete, now married and settled down, inspires Alex to seek a wife and family of his own. He contemplates the likelihood of his future son being a delinquent as he was, a prospect Alex views fatalistically.')]

In [37]:
mycursor.executemany(sql, val)
mydb.commit()

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 An existing connection was forcibly closed by the remote host

In [ ]:
for i in res.values:
    print(i[0])
    break

In [ ]:
# INSERT INTO `attendence` (`aid`, `usn`, `subcode`, `subname`, `facultyname`, `attpercent`, `ia1`, `ia2`, `ia3`, `assignment`, `finalia`) VALUES