In [1]:
import numpy as np
import pandas as pd
import json
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = []
with open('booksummaries.txt', 'r') as f:
    reader = csv.reader(f, dialect='excel-tab')
    for row in reader:
        data.append(row)

# convert data to pandas dataframe
df = pd.DataFrame.from_records(data, columns=['book_id', 'freebase_id', 'book_title', 'author', 'publication_date', 'genre', 'summary'])

In [3]:
df.head()
df.to_csv("books.csv")

In [4]:
df.shape

(16559, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           16559 non-null  object
 1   freebase_id       16559 non-null  object
 2   book_title        16559 non-null  object
 3   author            16559 non-null  object
 4   publication_date  16559 non-null  object
 5   genre             16559 non-null  object
 6   summary           16559 non-null  object
dtypes: object(7)
memory usage: 905.7+ KB

In [6]:
df.isnull().sum()

book_id             0
freebase_id         0
book_title          0
author              0
publication_date    0
genre               0
summary             0
dtype: int64

In [7]:
df.iloc[0,6]

' Old Major, the old boar on the Manor Farm, calls the animals on the farm for a meeting, where he compares the humans to parasites and teaches the animals a revolutionary song, \'Beasts of England\'. When Major dies, two young pigs, Snowball and Napoleon, assume command and turn his dream into a philosophy. The animals revolt and drive the drunken and irresponsible Mr Jones from the farm, renaming it "Animal Farm". They adopt Seven Commandments of Animal-ism, the most important of which is, "All animals are equal". Snowball attempts to teach the animals reading and writing; food is plentiful, and the farm runs smoothly. The pigs elevate themselves to positions of leadership and set aside special food items, ostensibly for their personal health. Napoleon takes the pups from the farm dogs and trains them privately. Napoleon and Snowball struggle for leadership. When Snowball announces his plans to build a windmill, Napoleon has his dogs chase Snowball away and declares himself leader. Napoleon enacts changes to the governance structure of the farm, replacing meetings with a committee of pigs, who will run the farm. Using a young pig named Squealer as a "mouthpiece", Napoleon claims credit for the windmill idea. The animals work harder with the promise of easier lives with the windmill. After a violent storm, the animals find the windmill annihilated. Napoleon and Squealer convince the animals that Snowball destroyed it, although the scorn of the neighbouring farmers suggests that its walls were too thin. Once Snowball becomes a scapegoat, Napoleon begins purging the farm with his dogs, killing animals he accuses of consorting with his old rival. He and the pigs abuse their power, imposing more control while reserving privileges for themselves and rewriting history, villainising Snowball and glorifying Napoleon. Squealer justifies every statement Napoleon makes, even the pigs\' alteration of the Seven Commandments of Animalism to benefit themselves. \'Beasts of England\' is replaced by an anthem glorifying Napoleon, who appears to be adopting the lifestyle of a man. The animals remain convinced that they are better off than they were when under Mr Jones. Squealer abuses the animals\' poor memories and invents numbers to show their improvement. Mr Frederick, one of the neighbouring farmers, attacks the farm, using blasting powder to blow up the restored windmill. Though the animals win the battle, they do so at great cost, as many, including Boxer the workhorse, are wounded. Despite his injuries, Boxer continues working harder and harder, until he collapses while working on the windmill. Napoleon sends for a van to take Boxer to the veterinary surgeon\'s, explaining that better care can be given there. Benjamin, the cynical donkey, who "could read as well as any pig", notices that the van belongs to a knacker, and attempts to mount a rescue; but the animals\' attempts are futile. Squealer reports that the van was purchased by the hospital and the writing from the previous owner had not been repainted. He recounts a tale of Boxer\'s death in the hands of the best medical care. Years pass, and the pigs learn to walk upright, carry whips and wear clothes. The Seven Commandments are reduced to a single phrase: "All animals are equal, but some animals are more equal than others". Napoleon holds a dinner party for the pigs and the humans of the area, who congratulate Napoleon on having the hardest-working but least fed animals in the country. Napoleon announces an alliance with the humans, against the labouring classes of both "worlds". He abolishes practices and traditions related to the Revolution, and changes the name of the farm to "The Manor Farm". The animals, overhearing the conversation, notice that the faces of the pigs have begun changing. During a poker match, an argument breaks out between Napoleon and Mr Pilkington, and the animals realise that the faces of the pigs look like the faces of humans, and no one can tell the difference between them. The pigs Snowball, Napoleon, and Squealer adapt Old Major\'s ideas into an actual philosophy, which they formally name Animalism. Soon after, Napoleon and Squealer indulge in the vices of humans (drinking alcohol, sleeping in beds, trading). Squealer is employed to alter the Seven Commandments to account for this humanisation, an allusion to the Soviet government\'s revising of history in order to exercise control of the people\'s beliefs about themselves and their society. The original commandments are: # Whatever goes upon two legs is an enemy. # Whatever goes upon four legs, or has wings, is a friend. # No animal shall wear clothes. # No animal shall sleep in a bed. # No animal shall drink alcohol. # No animal shall kill any other animal. # All animals are equal. Later, Napoleon and his pigs secretly revise some commandments to clear them of accusations of law-breaking (such as "No animal shall drink alcohol" having "to excess" appended to it and "No animal shall sleep in a bed" with "with sheets" added to it). The changed commandments are as follows, with the changes bolded: * 4 No animal shall sleep in a bed with sheets. * 5 No animal shall drink alcohol to excess. * 6 No animal shall kill any other animal without cause. Eventually these are replaced with the maxims, "All animals are equal, but some animals are more equal than others", and "Four legs good, two legs better!" as the pigs become more human. This is an ironic twist to the original purpose of the Seven Commandments, which were supposed to keep order within Animal Farm by uniting the animals together against the humans, and prevent animals from following the humans\' evil habits. Through the revision of the commandments, Orwell demonstrates how simply political dogma can be turned into malleable propaganda.'

In [8]:
df.iloc[0,5]

'{"/m/016lj8": "Roman \\u00e0 clef", "/m/06nbt": "Satire", "/m/0dwly": "Children\'s literature", "/m/014dfn": "Speculative fiction", "/m/02xlf": "Fiction"}'

In [9]:
df.sample(3)

,book_id,freebase_id,book_title,author,publication_date,genre,summary
5278,4118516,/m/0bk34f,Geis of the Gargoyle,Piers Anthony,1995-02,"{""/m/06n90"": ""Science Fiction"", ""/m/014dfn"": ""...",SUMMARY: Seeking a spell that will restore th...
848,327449,/m/01wbd7,The Persians,Aeschylus,,,"The Persians takes place in Susa, Iran, which..."
1893,963826,/m/03tv_9,Memoirs Found in a Bathtub,Stanisław Lem,1971,"{""/m/026ny"": ""Dystopia"", ""/m/06n90"": ""Science ...","Set in the distant future, Memoirs Found in a..."

In [10]:
df['summary_tag']=df['summary'].str.split()

In [11]:
df.sample(3)

,book_id,freebase_id,book_title,author,publication_date,genre,summary,summary_tag
10139,11914042,/m/02rxs4n,Travels in the Scriptorium,Paul Auster,2007-01-23,"{""/m/05hgj"": ""Novel""}",An old man is disoriented in an unknown chamb...,"[An, old, man, is, disoriented, in, an, unknow..."
11677,15931932,/m/03qhcvj,Poison Study,Maria V. Snyder,2005-10,"{""/m/01hmnh"": ""Fantasy""}",Not everyone is pleased by Yelena's acceptanc...,"[Not, everyone, is, pleased, by, Yelena's, acc..."
4803,3603761,/m/09pb8r,Power of Persuasion,Elizabeth Massie,1999-10,"{""/m/06n90"": ""Science Fiction"", ""/m/03npn"": ""H...",When dead guys start turning up as soon as th...,"[When, dead, guys, start, turning, up, as, soo..."

In [12]:
df['genre'][0]

'{"/m/016lj8": "Roman \\u00e0 clef", "/m/06nbt": "Satire", "/m/0dwly": "Children\'s literature", "/m/014dfn": "Speculative fiction", "/m/02xlf": "Fiction"}'

In [13]:
df['genre'][1]

'{"/m/06n90": "Science Fiction", "/m/0l67h": "Novella", "/m/014dfn": "Speculative fiction", "/m/0c082": "Utopian and dystopian fiction", "/m/06nbt": "Satire", "/m/02xlf": "Fiction"}'

In [14]:
def appply_genre(a):
    if(a==""):
        return []
    genre_dict = json.loads(a)
    genres = list(genre_dict.values())
    return genres

In [15]:
df['genre']=df['genre'].apply(appply_genre)

In [16]:
df.head()

,book_id,freebase_id,book_title,author,publication_date,genre,summary,summary_tag
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"[Roman à clef, Satire, Children's literature, ...","Old Major, the old boar on the Manor Farm, ca...","[Old, Major,, the, old, boar, on, the, Manor, ..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"[Science Fiction, Novella, Speculative fiction...","Alex, a teenager living in near-future Englan...","[Alex,, a, teenager, living, in, near-future, ..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"[Existentialism, Fiction, Absurdist fiction, N...",The text of The Plague is divided into five p...,"[The, text, of, The, Plague, is, divided, into..."
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,,[],The argument of the Enquiry proceeds by a ser...,"[The, argument, of, the, Enquiry, proceeds, by..."
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,,"[Hard science fiction, Science Fiction, Specul...",The novel posits that space around the Milky ...,"[The, novel, posits, that, space, around, the,..."

In [17]:
def merge_name(a):
    li=[]
    for i in a:
        li.append("".join(i.split()))
    return li

In [18]:
df['genre']=df['genre'].apply(merge_name)

In [19]:
df.head(3)

,book_id,freebase_id,book_title,author,publication_date,genre,summary,summary_tag
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"[Romanàclef, Satire, Children'sliterature, Spe...","Old Major, the old boar on the Manor Farm, ca...","[Old, Major,, the, old, boar, on, the, Manor, ..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"[ScienceFiction, Novella, Speculativefiction, ...","Alex, a teenager living in near-future Englan...","[Alex,, a, teenager, living, in, near-future, ..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"[Existentialism, Fiction, Absurdistfiction, No...",The text of The Plague is divided into five p...,"[The, text, of, The, Plague, is, divided, into..."

In [20]:
def convert_str_list(a):
    if(a==""):
        return []
    return "".join(a.split()).split()

In [21]:
df['author_li']=df['author'].apply(convert_str_list)

In [22]:
df.head()

,book_id,freebase_id,book_title,author,publication_date,genre,summary,summary_tag,author_li
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"[Romanàclef, Satire, Children'sliterature, Spe...","Old Major, the old boar on the Manor Farm, ca...","[Old, Major,, the, old, boar, on, the, Manor, ...",[GeorgeOrwell]
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"[ScienceFiction, Novella, Speculativefiction, ...","Alex, a teenager living in near-future Englan...","[Alex,, a, teenager, living, in, near-future, ...",[AnthonyBurgess]
2,986,/m/0ldx,The Plague,Albert Camus,1947,"[Existentialism, Fiction, Absurdistfiction, No...",The text of The Plague is divided into five p...,"[The, text, of, The, Plague, is, divided, into...",[AlbertCamus]
3,1756,/m/0sww,An Enquiry Concerning Human Understanding,David Hume,,[],The argument of the Enquiry proceeds by a ser...,"[The, argument, of, the, Enquiry, proceeds, by...",[DavidHume]
4,2080,/m/0wkt,A Fire Upon the Deep,Vernor Vinge,,"[Hardsciencefiction, ScienceFiction, Speculati...",The novel posits that space around the Milky ...,"[The, novel, posits, that, space, around, the,...",[VernorVinge]

In [23]:
df['tags']=df['genre']+df['summary_tag']+df['author_li']

In [24]:
df.head(3)

,book_id,freebase_id,book_title,author,publication_date,genre,summary,summary_tag,author_li,tags
0,620,/m/0hhy,Animal Farm,George Orwell,1945-08-17,"[Romanàclef, Satire, Children'sliterature, Spe...","Old Major, the old boar on the Manor Farm, ca...","[Old, Major,, the, old, boar, on, the, Manor, ...",[GeorgeOrwell],"[Romanàclef, Satire, Children'sliterature, Spe..."
1,843,/m/0k36,A Clockwork Orange,Anthony Burgess,1962,"[ScienceFiction, Novella, Speculativefiction, ...","Alex, a teenager living in near-future Englan...","[Alex,, a, teenager, living, in, near-future, ...",[AnthonyBurgess],"[ScienceFiction, Novella, Speculativefiction, ..."
2,986,/m/0ldx,The Plague,Albert Camus,1947,"[Existentialism, Fiction, Absurdistfiction, No...",The text of The Plague is divided into five p...,"[The, text, of, The, Plague, is, divided, into...",[AlbertCamus],"[Existentialism, Fiction, Absurdistfiction, No..."

In [25]:
df=df.drop(columns=['genre','summary_tag','author_li','freebase_id'])

In [26]:
df.head(3)

,book_id,book_title,author,publication_date,summary,tags
0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca...","[Romanàclef, Satire, Children'sliterature, Spe..."
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan...","[ScienceFiction, Novella, Speculativefiction, ..."
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...,"[Existentialism, Fiction, Absurdistfiction, No..."

In [27]:
df['tags']=df['tags'].apply(lambda x:" ".join(x))

In [28]:
df.head()

,book_id,book_title,author,publication_date,summary,tags
0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca...",Romanàclef Satire Children'sliterature Specula...
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan...",ScienceFiction Novella Speculativefiction Utop...
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...,Existentialism Fiction Absurdistfiction Novel ...
3,1756,An Enquiry Concerning Human Understanding,David Hume,,The argument of the Enquiry proceeds by a ser...,The argument of the Enquiry proceeds by a seri...
4,2080,A Fire Upon the Deep,Vernor Vinge,,The novel posits that space around the Milky ...,Hardsciencefiction ScienceFiction Speculativef...

In [29]:
df_copy=df.drop(columns=['tags'])
df_copy.to_csv("book_database_data.csv")
df_copy.head()

,book_id,book_title,author,publication_date,summary
0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,David Hume,,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,Vernor Vinge,,The novel posits that space around the Milky ...

In [30]:
c=0
sum=0
for i in df['tags']:
    c+=1
sum/c

0.0

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

<h2>stop_words{‘english’}, list, default=None</h2>
<h4>If ‘english’, a built-in stop word list for English is used.</h4>
<p>Stop words are words like “and”, “the”, “him”, which are presumed to be uninformative in representing the content of a text, and which may be removed to avoid them being construed as signal for prediction. Sometimes, however, similar words are useful for prediction, such as in classifying writing style or personality.</p>

In [32]:
cv=CountVectorizer(max_features=2600,stop_words='english')

In [33]:
vector=cv.fit_transform(df['tags']).toarray()

In [34]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

In [35]:
vector.shape

(16559, 2600)

In [36]:

from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similarity=cosine_similarity(vector)

In [38]:
similarity[0][0:100]

array([1.        , 0.03818428, 0.0509862 , 0.15345824, 0.1204047 ,
       0.05392181, 0.08571606, 0.04187486, 0.01943224, 0.01975254,
       0.03401912, 0.02055064, 0.07353638, 0.04278414, 0.03833568,
       0.05042417, 0.02001434, 0.02467229, 0.0795639 , 0.01165591,
       0.02388752, 0.06339088, 0.11952996, 0.0693554 , 0.04136947,
       0.06046375, 0.09349498, 0.04466743, 0.03338021, 0.02782774,
       0.0708479 , 0.03096688, 0.06380179, 0.04365217, 0.04245846,
       0.06560577, 0.01873891, 0.03060051, 0.00801212, 0.05802669,
       0.06437462, 0.09910494, 0.07021836, 0.06409693, 0.06088767,
       0.03815294, 0.0480941 , 0.0675641 , 0.02479688, 0.10824548,
       0.04975997, 0.07050116, 0.03646776, 0.05570998, 0.04037332,
       0.0264782 , 0.05348824, 0.04294881, 0.09900192, 0.06352549,
       0.03543428, 0.06061741, 0.05233855, 0.02725777, 0.04391849,
       0.09506317, 0.01838106, 0.06020235, 0.03843425, 0.04288913,
       0.05832438, 0.0268529 , 0.04331285, 0.08088875, 0.10067719,
       0.05801759, 0.01820409, 0.02775937, 0.04185143, 0.05036899,
       0.0504675 , 0.06906732, 0.03907788, 0.04766746, 0.05258609,
       0.04101503, 0.03154026, 0.02017086, 0.04498723, 0.0413867 ,
       0.05355767, 0.02446132, 0.03588739, 0.03291642, 0.06690601,
       0.02071554, 0.01698565, 0.05063125, 0.04164556, 0.0234568 ])

In [39]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[0:40]

[(0, 0.9999999999999987),
 (9989, 0.6373840662804195),
 (6869, 0.49145238553575915),
 (14697, 0.4252759592381436),
 (6921, 0.4124756199923948),
 (13188, 0.4034150461707368),
 (14884, 0.38920319621159954),
 (3869, 0.38863123498319696),
 (9599, 0.38442099850655814),
 (14642, 0.3819839081393492),
 (13006, 0.37236951874163177),
 (8385, 0.37202640001523746),
 (13120, 0.3703602097358165),
 (5759, 0.33698601832240105),
 (1408, 0.33592736281152813),
 (13169, 0.33521179620591085),
 (14534, 0.3289334007615259),
 (14345, 0.3283106596233106),
 (12926, 0.3138078907496097),
 (6966, 0.3069734984568538),
 (15966, 0.3068748783912829),
 (5762, 0.30130300333029086),
 (382, 0.3005790171555884),
 (14783, 0.2974991267127826),
 (4223, 0.2847547978862387),
 (13004, 0.2835951884738485),
 (6562, 0.26276267341315745),
 (14501, 0.2616276241612042),
 (3206, 0.25536828518046994),
 (4468, 0.2541298890347961),
 (15049, 0.2533904999514806),
 (2103, 0.25337025314725037),
 (15054, 0.25235794479428375),
 (15034, 0.25085454237434757),
 (16110, 0.25077553251294193),
 (1885, 0.24801088988406542),
 (9807, 0.2465558371496745),
 (14037, 0.24649041552593953),
 (8184, 0.24550161174516183),
 (1035, 0.24396695726578949)]

In [40]:
df.iloc[[9989,6869,14697,6921,13188]]

,book_id,book_title,author,publication_date,summary,tags
9989,11541759,Snowball's Chance,John Reed,,"The story begins with the death of Napoleon, ...",Parody The story begins with the death of Napo...
6869,5750501,Freddy Goes to Florida,Walter R. Brooks,,Freddy was an intelligent pig that lived on t...,Children'sliterature Freddy was an intelligent...
14697,25120921,Jack the Hare and Mukuyu Forest,,,The story is based on a variety of animals li...,The story is based on a variety of animals liv...
6921,5812965,Freddy Goes to the North Pole,Walter R. Brooks,,"In the beginning, Freddy had the idea to esta...","Children'sliterature In the beginning, Freddy ..."
13188,20155772,"Panda Bear, Panda Bear, What Do You See?","Bill Martin, Jr.",2006-07-11,"A bunch of animals answer the question ""What ...","A bunch of animals answer the question ""What d..."

In [43]:
def recommend(mov):
    ind=df[df['book_title']==mov].index[0]
    dist=sorted(list(enumerate(similarity[ind])),reverse=True,key=lambda x:x[1])
    for i in range(6):
#         print(df.iloc[dist[i][0]]['tags'])
        print(df.iloc[dist[i][0]]['book_title'])

In [45]:
df.head(2)

,book_id,book_title,author,publication_date,summary,tags
0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca...",Romanàclef Satire Children'sliterature Specula...
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan...",ScienceFiction Novella Speculativefiction Utop...

In [44]:
recommend("Animal Farm")

Animal Farm
Snowball's Chance
Freddy Goes to Florida
Jack the Hare and Mukuyu Forest
Freddy Goes to the North Pole
Panda Bear, Panda Bear, What Do You See?

In [47]:
sorted(list(enumerate(similarity[1])),reverse=True,key=lambda x:x[1])[0:6]

[(1, 1.0),
 (7267, 0.7707724747256834),
 (4013, 0.7473260247124395),
 (15837, 0.7399584292133948),
 (5599, 0.7364004322909915),
 (5761, 0.7180456616303534)]

In [46]:
recommend("A Clockwork Orange")

A Clockwork Orange
Skeleton Key
Little Boy Blue
Scorpia Rising
Stormbreaker
Point Blanc