In [1]:
import numpy as np
import pandas as pd
import json
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("book_database_data.csv")

In [6]:
df.head()

,Unnamed: 0,book_id,book_title,author,publication_date,summary
0,0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca..."
1,1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,3,1756,An Enquiry Concerning Human Understanding,David Hume,NaN,The argument of the Enquiry proceeds by a ser...
4,4,2080,A Fire Upon the Deep,Vernor Vinge,NaN,The novel posits that space around the Milky ...

In [13]:
df=df.drop(['Unnamed: 0'],axis=1)

In [14]:
df.head()

,book_id,book_title,author,publication_date,summary
0,620,Animal Farm,George Orwell,1945-08-17,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,David Hume,NaN,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,Vernor Vinge,NaN,The novel posits that space around the Milky ...

In [83]:
df['publication_date']=df['publication_date'].astype('str')

In [84]:
type(df.iloc[3,3])

str

In [89]:
df.iloc[3,3]

'nan'

In [86]:
df.isnull().sum()

book_id                0
book_title             0
author              2382
publication_date       0
summary                0
dtype: int64

In [98]:
import re
import random


regex=re.compile(r"\d\d\d\d")
def ret_year(a):
    if a=="nan":
        return int(random.randint(1800,2000))
    else:
        return int(regex.search(a).group())

In [100]:
df['publication_date']=df['publication_date'].apply(ret_year)

In [102]:
df.head()

,book_id,book_title,author,publication_date,summary
0,620,Animal Farm,George Orwell,1945,"Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan..."
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,David Hume,1917,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,Vernor Vinge,1882,The novel posits that space around the Milky ...

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           16559 non-null  int64
 1   book_title        16559 non-null  object
 2   author            14177 non-null  object
 3   publication_date  16559 non-null  int64
 4   summary           16559 non-null  object
dtypes: int64(2), object(3)
memory usage: 647.0+ KB

In [109]:
li=[]
for i in range(df.shape[0]):
    li.append(random.randint(1,9))

In [111]:
df['copies']=li

In [112]:
df.head()

,book_id,book_title,author,publication_date,summary,copies
0,620,Animal Farm,George Orwell,1945,"Old Major, the old boar on the Manor Farm, ca...",1
1,843,A Clockwork Orange,Anthony Burgess,1962,"Alex, a teenager living in near-future Englan...",6
2,986,The Plague,Albert Camus,1947,The text of The Plague is divided into five p...,4
3,1756,An Enquiry Concerning Human Understanding,David Hume,1917,The argument of the Enquiry proceeds by a ser...,6
4,2080,A Fire Upon the Deep,Vernor Vinge,1882,The novel posits that space around the Milky ...,2

In [113]:
df.isnull().sum()

book_id                0
book_title             0
author              2382
publication_date       0
summary                0
copies                 0
dtype: int64